.tariff-block {
  width: 100%;
  background-color: var(--block-bg);
  padding: 44px;
  margin-left: auto;
  position: sticky;
  top: 120px;
}

.tariff-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  background-color: var(--color-2);
  padding: 4px;
  position: relative;
}

.tariff-toggle::after {
  content: "";
  position: absolute;
  height: calc(100% - 8px);
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 100px;
  left: 4px;
  transition: .3s;
}

.tariff-toggle:global(.toggle-right)::after {
  left: calc(50% - 4px);
}

.tariff-toggle_item {
  border-radius: 100px;
  color: var(--dark-40);
  padding: 9px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  position: relative;
  font-size: 14px;
  letter-spacing: 0;
  cursor: pointer;
  transition: .3s;
  z-index: 1;
}

.tariff-toggle_item:global(.active) {
  color: var(--dark);
  cursor: default;
}

.tariff-item_wrapper {
  margin: 8px 0 28px;
}

.tariff-item {
  border-bottom: 1px dashed var(--dark-20);
  padding: 32px 0;
}

.tariff-item:last-child {
  border-bottom: none;
}

.tariff-price {
  font-family: 'Inter', sans-serif;
  color: #2F3846;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 8px;
}

.tariff-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-50);
  letter-spacing: -0.5px;
}

.tariff-title {
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-bottom: 4px;
}

.tariff-tooltip_wrapper {
  display: flex;
  align-items: center;
}

.tariff-tooltip {
  height: 16px;
  width: 16px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.tariff-tooltip::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: rgb(70, 191, 225, 0.2);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tariff-tooltip::after {
  content: "";
  width: 32px;
  height: 32px;
  background-color: rgb(70, 191, 225, 0.2);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: 1s puls infinite;
}

.tariff-tooltip svg {
  position: relative;
}

.tariff-tooltip_content {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: none;
  position: absolute;
  top: calc(100% + 17px);
  left: 50%;
  transform: translateX(-50%);
  width: 275px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: normal;
  line-height: 1.3;
  letter-spacing: 0;
}

.tariff-tooltip_content::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tariff-tooltip:hover .tariff-tooltip_content {
  display: block;
}

.tariff-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff-hours_item {
  width: calc(50% - 13px);
}

.tariff-btn {
  width: 100%;
}

.tariffPriceValue{
    display: flex;
}

.tarrifPriceSpan{
    display: block;
    width: fit-content;
}

@media (max-width: 992px) {
  .tariff-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tariff-block {
    padding: 32px;
  }

  .tariff-item {
    padding: 28px 0;
  }

  .tariff-item_wrapper {
    margin: 0;
  }

  .tariff-hours_item {
    width: 50%;
  }

  .tariff-hours {
    align-items: flex-start;
  }

  .tariff-btn {
    width: 100%;
  }

  .tariff-tooltip_content {
    font-size: 11px;
    width: 169px;
  }

  .tariff-tooltip_content::before {
    top: -11px;
  }
}
