
.banner{
  margin-top: 0px;
}

.banner_wrapper{
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.banner_img{
  width: 100%;
  max-width: 1320px;
  max-height: 500px;
}

@media (max-width: 992px) {
  .banner_img {
    min-height: 448px;
  }

}

@media (max-width: 767px){
    .banner_wrapper{
        padding: 0 35px;

    }

  .banner_img{
    min-height: 265px;
  }
}