.section10 {
  padding-bottom: 140px;
}

.section10Title {
  text-align: center;
  margin-bottom: 60px;
}

/* Use :global for spoiler classes */
.section10Item :global(.spoiler_title) {
  margin-top: 13px;
  width: calc(100% - 70px);
}

.section10Item :global(.spoiler_number) {
  top: 13px;
}

.section10Item :global(.spoiler_plus_wrapper) {
  width: 58px;
  height: 58px;
  background-color: var(--color-1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.section10Item :global(.spoiler_plus) {
  margin: 0;
  width: 13px;
  height: 13px;
}

.section10Item :global(.spoiler_text) {
  padding: 7px 100px 0 33px;
  line-height: 1.4;
}

.section10More {
  background-color: initial;
  border: 1px solid var(--color-2);
  border-radius: 100px;
  padding: 22px 47px;
  color: var(--dark);
  margin: 35px auto 0;
  display: block;
  width: fit-content;
  height: initial;
  letter-spacing: 0;
}

.section10Spoiler :global(.spoiler_item:last-child) {
  border-bottom: none;
}

.section10More svg {
  transform: rotate(90deg);
  margin-left: 10px;
}

/* Responsive */
@media (max-width: 992px) {
  .section10 {
    padding-bottom: 80px;
  }

  .section10Title {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .section10More {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .section10Item :global(.spoiler_title) {
    margin-top: 7px;
    width: calc(100% - 70px);
  }

  .section10Item :global(.spoiler_number) {
    top: 6px;
    left: 0;
  }

  .section10Item :global(.spoiler_text) {
    padding: 12px 0 0;
    font-size: 14px;
  }

  .section10 {
    padding-bottom: 60px;
  }
}
