












.slider-7 {
  overflow: visible;
  overflow-x: clip;
}



.slider-7.swiper .slider-7_pagination {
  bottom: initial;
  top: calc(100% + 35px);
}

.slider-7.swiper .slider-7_pagination .swiper-pagination-bullet {
  width: 16px;
  border-radius: 0;
  height: 2px;
  background-color: #D5D5D5;
  opacity: 1;
  transition: .3s;
}

.slider-7.swiper .slider-7_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 36px;
  background-color: #CCF43B;
}

.section-7 {
  padding: 135px 0 145px;
  text-align: center;
}

.section-7_col-left {
  width: 50%;
  background-color: #F5F5F5;
  padding: 70px;
  padding-right: 50px;
      padding-bottom: 58px;
  text-align: left;
  position: relative;
  height: 510px;
}

.section-7-img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}

.section-7_col-right {
  width: 50%;
  
}

.section-7_title {
  margin-bottom: 25px;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.section-7_text-1 {
  max-width: 506px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}


.section-7_slide_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
  max-width: 323px;
  margin-bottom: 20px;
}

.section-7_slide_text{
  line-height: 1.3;
}

.section-7_experience_wrapper{
  margin-top: 28px;
  display: flex;
  gap: 50px;
}

.section-7_experience_item{
  width: 140px;
}

.section-7_experience_title{
  font-size: 40px;
  font-weight: 500;
}

.section-7_experience_text{
  font-size: 14px;
}

.section-7_experience_separator{
  border: 0.5px dashed rgba(2, 25, 29, 0.2);
}


.section-7_slider {
  height: 100%;
}

.section-7_slider_pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 60px !important;
  left: 60px !important;
  width: fit-content !important;
  top: initial !important;
}


@media (max-width: 992px) {
    
  .section-7 {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .section-7_title {
    margin-bottom: 20px;
  }

  .section-7_text-1{
    margin-bottom: 40px;
  }

  .section-row.section-7_row{
    flex-direction: column-reverse;
  }

  .section-7_col-right{
    height: 388px;
  }

  .video-wrapper{
    max-width: initial;
  }

  .section-7_col-left{
    padding: 60px;
    height: initial;
  }

  .section-7_experience_wrapper{
    gap: 0;
  }

  .section-7_experience_separator{
    margin-left: 7px;
    margin-right: 40px;
  }

  .section-7_slider_pagination.swiper-pagination-bullets{
    bottom: initial !important;
    left: 50% !important;
    transform: translateX(-50%);
    top: calc(100% + 30px) !important;
  }
}

@media (max-width:767px) {
    .section-7 {
    
    padding-bottom: 80px;
  }

  .section-7_title {
    margin-bottom: 25px;
    padding-right: 10px;
  }

  .section-7_item .spoiler_plus_wrapper {
    width: 50px;
    height: 50px;
  }

  .section-7_more {
    width: 100%;
  }

  .section-7_item .spoiler_text {
    padding: 20px 0px 0 30px;
  }

  .section-7_text-1{
    text-align: left;
  }

  .section-7_text-1 br{
    display: none;
  }

  .section-7_col-right {
        height: 170px;
    }

        .section-7_col-left {
        padding: 40px 35px 66px;
      }


      .section-7_slide_title{
        margin-bottom: 15px;
      }

  .section-7_experience_title{
    font-size: 35px;
  }

  .section-7_experience_wrapper{
    font-size: 20px;
  }

  .section-7_experience_text{
    font-size: 12px;
  }
}