.sidebar{
    position: sticky;
    top: 115px;
    height: fit-content;
}

.sidebarInner{
    min-width: 261px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media(max-width: 992px){
    .sidebar{
        min-width: unset;
        position: unset;
        top: unset;
        margin-bottom: 0;
    }
}