.tagsBlock{
    display: flex ;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.tagsBlock span{
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: -3%;
    color: var(--dark-50);
    transition: all 0.3s ease;
    cursor: pointer;
}

.tagsBlock span:hover{
    transition: all 0.3s ease;
    color: rgba(2, 25, 29, 0.759);
}